.jail {
    width: 100%;
    min-width: 100%;
    min-height: 100%;

    display: grid;
    // Queen 1fr, Rook 2fr, Bishop 2fr, Knight 2fr, Pawn 8fr 
    grid-template-columns: 2fr 2fr 2fr 2fr 7fr;
    grid-template-rows: 1fr;

    > div {
        display: flex;
        flex-direction: row;
        position: relative;

        padding: 10px;

        > .jail-piece {
            position: absolute;
            width: 100%;
        }

    }

    
    &.black {
        justify-content: flex-start;
        border-top: solid 1px rgba(255, 255, 255, 0.2);

        > div {
            align-items: flex-start;
        }
    }

    &.white {
        justify-content: flex-end;
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);

        > div {
            align-items: flex-end;
        }
    }
}