.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        background: linear-gradient(36deg, rgb(83, 166, 202) 0%, rgb(33, 79, 177) 100%);

        width: 25%;
        height: 25%;
    }
}