* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

body {

    background: rgb(159,177,182);
    background: linear-gradient(36deg, rgb(83, 166, 202) 0%, rgb(33, 79, 177) 100%);

    display: grid;
    grid-template-areas: "main-zone" 
                          "page-selection-zone";
    grid-template-columns: 1fr;
    grid-template-rows: 9fr auto;

    place-items: center;

    height: 100vh;

    max-height: 100vh;
    max-width: 100vw;
}

.main-zone {
  grid-area: main-zone;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.page-selection-zone {
  grid-area: page-selection-zone;
  display: flex;
  min-height: 100%;
}